<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}

	<meta charset="UTF-8">
	<title>{% block title %}{% endblock title %}</title></head>
	{% block css %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'css/estilos.css' %}">
	{% endblock css %}
<body>

	{% block content %}


	{% endblock content %}

	{% block js %}
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.js' %}"></script>
	{% endblock js %}
</body>
</html>
